@CHARSET "ISO-8859-1";

body { 
	background-color: black;
	padding-top:55px; 
	color: white;
}

.picture { 
	padding-top:15px; 
	color:red; 
}
	
.ingame-logo {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}

.h1 {
	padding-bottom: 15px;
}

.img {
	height:150px; 
	width:150px;
}

.select {width:150px;}
select {
	color: black;
}

.button {
	margin: auto;
	width: 20%;
	margin-top: 100px;
}

.container {
	text-align: center;
}

.battingorder {
	text-align: left;
	background-color: white;
	color: black;
}

.battingorder tr:first-child td {
	font-weight: bold;
}

.battingorder tr td {
	padding: 5px;
}

form {
	display: inline;
}

.btn-xs {
	margin: 5px;
}

h4 {
	margin-top: 2px;
	margin-bottom: 2px;
	display: inline;
}

.bold {
	font-weight: bold;
}